{% extends 'webcv/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10">
    <h3 class="text-white py-5">About Page</h3>

    <div class="jumbotron jumbotron-fluid jumbo-color">
        <div class="container">
          <h1 class="display-4">Education</h1>
            <table class="content-table">
          <tr>
              <th>Qualification</th>
              <th>Institution/Organization</th>
              <th>Bord/University</th>
              <th>Year</th>
          </tr>

          <tr>
              <td>BSC CSIT</td>
              <td>Academia International College(AIC), Gwarko, Kathmandu, Nepal</td>
              <td>Tribhuvan University(TU)</td>
              <td>2021</td>
          </tr>

          <tr>
              <td>+2</td>
              <td>National Academy Of Science and Technology (NAST), Dhangadhi,Kailali, Nepal</td>
              <td>HSEB</td>
              <td>2016</td>
          </tr>

          <tr>
              <td>SLC</td>
              <td>Aishwarya Vidhya Niketan HigherSecondary School, Dhangadhi,Kailali, Nepal</td>
              <td>SLC</td>
              <td>2014</td>
          </tr>
      </table>
            <h2>....</h2>
</div>
        </div>
    </div>
</div>

{% endblock content %}