{% extends 'webcv/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">Home Page</h3>
    <h4>
        <div class="img">
            <img src="{% static 'webcv/images/YR.JPG' %}" style="width:40%">
        </div>


    <div class="jumbotron jumbotron-fluid jumbo-color">
        <div class="container">
          <h1 class="display-4 font-weight-bold">Welcome To Developer Portfolio</h1>
            <p class="lead">Yagya Raj Bhatta</p>
            <p class="lead">IT Student</p>
            <p>.....</p>
        </div>
    </div>
</div>

{% endblock content %}