body{
    background-color: rgb(75, 74, 74);
    color: antiquewhite;
}

.jumbo-color{
    background-color: rgb(105, 106, 106);
}

.img{
        position: absolute;
        left: 1120px;
        top: 80px;
        border-radius: 50%;
}

.content-table{

  border-collapse: collapse;
  margin: 2px 0;
  font-size: 0.9em;
  min-width: 400px;
}

.content-table th{
background-color: #7FFFD4;
color: #000000;
text-align: left;
font-weight: bold;
font-size: 28px;
padding: 12px 15px;
}

.content-table td{
background-color: #2F4F4F;
font-weight: bold;
font-size: 15px;
padding: 12px 12px;
}

